body{
    margin: 0;
    font-family: 'Poppins','sans-serif';
    padding: 10px;
    min-width: 400px;
    /* text-align: center; */
}
input{
    padding: 10px;
    width: 100%;
    border: 1px solid #528AAE;
    box-sizing: border-box;
    margin-bottom: 5px;
}
button{
    background-color: #528AAE;
    border: 1px solid #528AAE;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
}
#delete-btn{
    background-color: #fff;
    color: #528AAE;
}
ul{
    margin-top: 20px; 
    list-style-type: none;
    padding-left: 0;
}
li{
    margin-top: 3px;
}
li a{
    color: #528AAE;
}